/* ==========================================================================
   DARK THEME
   ========================================================================== */

$gray : #adb5bd;
$dark-gray : mix(#000, $gray, 40%);
$darker-gray : mix(#000, $gray, 60%);
$light-gray : #ced4da;
$lighter-gray : mix(#fff, $gray, 80%);

$danger-color : #ff6b6b;
$info-color : #4dabf7;
$notice-color : #868e96;
$success-color : #51cf66;
$warning-color : #fcc419;

$border-radius : 6px;
$box-shadow : 0 2px 6px rgba(0, 0, 0, 0.4);
$global-transition : all 0.25s ease-in-out;
$masthead-height : 70px;
$navicon-width : 28px;
$navicon-height : 4px;
$sidebar-link-max-width : 250px;
$sidebar-screen-min-width : 1024px;

html[data-theme="dark"] {
  --global-base-color : #{$gray};
  --global-bg-color: #121212;
  --global-footer-bg-color: #1e1e1e;
  --global-border-color: #2a2a2a;
  --global-dark-border-color: #343a40;
  --global-code-background-color: #1e1e1e;
  --global-code-text-color: #f8f9fa;
  --global-fig-caption-color : mix(#000, #{$light-gray}, 25%);
  --global-link-color: #4dabf7;
  --global-link-color-hover: #339af0;
  --global-link-color-visited: #91a7ff;
  --global-masthead-link-color: #f8f9fa;
  --global-masthead-link-color-hover: #dee2e6;
  --global-text-color: #e9ecef;
  --global-text-color-light: #adb5bd;
  --global-thead-color: #2a2a2a;
}
